.html {
    background: url(../images/tabground.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color:yellow;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
span {
    color: whitesmoke;
}

body {
    color: navy;
    font-size: 26px;
}





h1 {
    font-family: monospace;

}
li {
    font-weight: bold;
}
ul {
    font-style: italic;
    color: grey;
}
a {
    font-style: italic;
    color: darkgreen;
}









li {
    font-size: xx-large;
    color: navy;
    }
    div {
        size: inherit;
    }
    h1 {
        font-family: monospace;
        font-size: 50px;
        text-align: center;
    }
    div{
        inline-size: 800px;
        max-width: 800px;
    }